/* line 2, ../sass/_settings.scss */
.fontello-icons:after {
  font-family: 'fontello';
}
/* line 6, ../sass/_settings.scss */
.fontello-icons:before {
  font-family: 'fontello';
}

/* line 11, ../sass/_settings.scss */
.open-sans {
  font-family: 'Open Sans', sans-serif;
}

/* line 5, ../sass/products.scss */
.products-banner {
  position: relative;
}
/* line 8, ../sass/products.scss */
.products-banner .banner-image {
  width: 100%;
}
/* line 12, ../sass/products.scss */
.products-banner .products-banner-info-content {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
/* line 15, ../sass/products.scss */
.products-banner .products-banner-info-content .price {
  background: #57c5a0;
  float: left;
  padding: 25px 10px;
  width: max-content;
  color: #ffffff;
  font-size: 0.8125em;
}
/* line 24, ../sass/products.scss */
.products-banner .products-banner-info-content .header {
  color: #242424;
  font-size: 1.875em;
  margin: 0 0 15px;
  padding: 0 0 0 85px;
}
/* line 31, ../sass/products.scss */
.products-banner .products-banner-info-content .description {
  float: left;
  color: #242424;
  font-size: 0.9375em;
  line-height: 1.2;
}

/* line 40, ../sass/products.scss */
.shop-by-products-filters-wrapper {
  background: #2e2e2e;
}
/* line 43, ../sass/products.scss */
.shop-by-products-filters-wrapper .shop-by {
  padding: 20px 0;
  font-size: 1.125em;
  color: #ffffff;
}
/* line 49, ../sass/products.scss */
.shop-by-products-filters-wrapper .filter {
  position: relative;
}
/* line 53, ../sass/products.scss */
.shop-by-products-filters-wrapper .filter-btn {
  position: relative;
  padding: 20px 0;
  background: #242424;
  width: 95%;
  margin: 0 auto;
  cursor: pointer;
  font-size: 1.125em;
  color: #ffffff;
}
/* line 63, ../sass/products.scss */
.shop-by-products-filters-wrapper .filter-btn:after {
  content: '\e80c';
  font-size: 0.5625em;
  color: #242424;
  background: white;
  border-radius: 100%;
  padding: 3px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 12%;
}
/* line 75, ../sass/products.scss */
.shop-by-products-filters-wrapper .filter-list {
  background: #242424;
  margin-top: 10px;
  width: 95%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 13px 0;
  z-index: 1;
  text-align: left;
}
/* line 84, ../sass/products.scss */
.shop-by-products-filters-wrapper .filter-list:before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: -5px;
  width: 0px;
  height: 0px;
  margin: 0 auto;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #242424;
}
/* line 98, ../sass/products.scss */
.shop-by-products-filters-wrapper .filter-list li {
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 2px;
  font-size: 1em;
  padding: 10px 0 10px 25px;
  transition: background 0.5s linear;
}
/* line 106, ../sass/products.scss */
.shop-by-products-filters-wrapper .filter-list li:hover {
  background: #57c5a0;
}
/* line 112, ../sass/products.scss */
.shop-by-products-filters-wrapper .filter-off {
  display: none;
}

/* line 118, ../sass/products.scss */
.all-products-wrapper .all-products-header-left {
  text-align: left;
  position: relative;
}
/* line 123, ../sass/products.scss */
.all-products-wrapper .all-products-header-right {
  text-align: right;
}
/* line 127, ../sass/products.scss */
.all-products-wrapper .all-products-title {
  font-size: 1.25em;
  font-family: 'Lato', sans-serif;
  text-align: left;
}
/* line 133, ../sass/products.scss */
.all-products-wrapper .breadcrumbs {
  font-size: 0.75em;
  font-family: 'Lato', sans-serif;
  color: #bcb5a7;
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 130px;
}
/* line 143, ../sass/products.scss */
.all-products-wrapper .filter-text {
  font-weight: bold;
  padding-right: 10px;
  color: #bcb5a7;
  font-size: 0.875em;
}
/* line 149, ../sass/products.scss */
.all-products-wrapper .view-as-filter {
  cursor: pointer;
}
/* line 151, ../sass/products.scss */
.all-products-wrapper .view-as-filter:after {
  font-size: 1em;
  color: #bcb5a7;
  border: 1px solid;
  padding: 5px;
}
/* line 158, ../sass/products.scss */
.all-products-wrapper .view-as-filter.block-view:after {
  content: '\e80e';
}
/* line 162, ../sass/products.scss */
.all-products-wrapper .view-as-filter.list-view:after {
  content: '\e801';
}
/* line 166, ../sass/products.scss */
.all-products-wrapper .view-as-filter.alphabetically-view:after {
  border-radius: 100%;
  content: '\e80c';
}
/* line 172, ../sass/products.scss */
.all-products-wrapper .view-as-filter:hover:after {
  border-color: #898170;
}
/* line 177, ../sass/products.scss */
.all-products-wrapper .view-as-filter.alphabetically-view {
  position: relative;
  padding: 5px 50px 5px 20px;
  border: 1px solid #bcb5a7;
  text-align: left;
}
/* line 183, ../sass/products.scss */
.all-products-wrapper .view-as-filter.alphabetically-view:after {
  color: #ebe7df;
  right: 10%;
  background: #bcb5a7;
  border-radius: 100%;
  font-size: 0.4375em;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
/* line 196, ../sass/products.scss */
.all-products-wrapper .view-as-active:after {
  border-color: #898170;
  color: #898170;
}
/* line 202, ../sass/products.scss */
.all-products-wrapper .product-product-page {
  margin-bottom: 15px;
}
/* line 206, ../sass/products.scss */
.all-products-wrapper .product-list-view {
  background: white;
}
/* line 209, ../sass/products.scss */
.all-products-wrapper .product-list-view .product-name,
.all-products-wrapper .product-list-view .product-icons {
  max-width: inherit;
}
