/* line 5, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 2, ../sass/_settings.scss */
.fontello-icons:after {
  font-family: 'fontello';
}
/* line 6, ../sass/_settings.scss */
.fontello-icons:before {
  font-family: 'fontello';
}

/* line 11, ../sass/_settings.scss */
.open-sans {
  font-family: 'Open Sans', sans-serif;
}

/* line 6, ../sass/style.scss */
header {
  background: #242424;
}

/* line 11, ../sass/style.scss */
.active a {
  color: #57c5a0 !important;
}

/* line 16, ../sass/style.scss */
.header-wrapper {
  position: relative;
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}
/* line 22, ../sass/style.scss */
.header-wrapper .header-logo-wrapper {
  float: left;
  padding: 15px;
  cursor: pointer;
}
/* line 28, ../sass/style.scss */
.header-wrapper .header-logo-wrapper .header-logo a {
  color: #57c5a0;
  font-size: 1.625em;
  font-family: 'Asap Condensed', sans-serif;
  text-transform: uppercase;
}
/* line 37, ../sass/style.scss */
.header-wrapper .header-tools-wrapper {
  float: right;
}
/* line 41, ../sass/style.scss */
.header-wrapper .header-tools {
  height: 100%;
  position: absolute;
  right: 0;
}
/* line 46, ../sass/style.scss */
.header-wrapper .header-tools .search-menu-wrapper {
  float: left;
  height: 100%;
  position: relative;
}
/* line 51, ../sass/style.scss */
.header-wrapper .header-tools .search-menu-wrapper:before {
  content: '';
  width: 1px;
  background: #383838;
  height: 100%;
  position: absolute;
  left: 2px;
}
/* line 60, ../sass/style.scss */
.header-wrapper .header-tools .search-menu-wrapper:after {
  content: '\e808';
  color: #7d7d7d;
  right: 20px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
/* line 68, ../sass/style.scss */
.header-wrapper .header-tools .search-input {
  padding: 0;
  border: none;
  height: 100%;
  outline: none;
  margin-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 0.75em;
  color: #b1aeae;
  background-color: transparent;
  font-family: 'Allerta', sans-serif;
  border-left: 1px solid #383838;
}
/* line 83, ../sass/style.scss */
.header-wrapper .header-tools .search-input::placeholder {
  font-size: 0.875em;
  color: #b1aeae;
  text-transform: uppercase;
  font-family: 'Allerta', sans-serif;
}
/* line 90, ../sass/style.scss */
.header-wrapper .header-tools .search-dropdown {
  background-color: #4c4c4c;
  z-index: 1;
  position: relative;
}
/* line 95, ../sass/style.scss */
.header-wrapper .header-tools .search-dropdown .search-dropdown-item {
  cursor: pointer;
  padding: 15px 15px;
  font-family: 'Allerta', sans-serif;
  font-size: 0.75em;
  color: #b1aeae;
  text-transform: uppercase;
  transition: background 0.5s linear;
  border-bottom: 1px solid #666464;
}
/* line 105, ../sass/style.scss */
.header-wrapper .header-tools .search-dropdown .search-dropdown-item:hover {
  background: #898170;
}
/* line 111, ../sass/style.scss */
.header-wrapper .header-tools .dropdown-hidden {
  display: none;
}
/* line 115, ../sass/style.scss */
.header-wrapper .header-tools .dropdown-visible {
  display: block;
}
/* line 119, ../sass/style.scss */
.header-wrapper .header-tools .registration-btn {
  height: 100%;
  padding: 0;
  outline: none;
  border-left: 1px solid;
  border-right: 1px solid;
  border-top: none;
  border-bottom: none;
  border-color: #383838;
  font-size: 0.75em;
  font-family: 'Allerta', sans-serif;
  color: #b1aeae;
  background-color: transparent;
  text-transform: uppercase;
  padding-right: 5px;
  padding-left: 5px;
  cursor: pointer;
  float: right;
}
/* line 139, ../sass/style.scss */
.header-wrapper .header-tools .registration-btn-span {
  transition: background 0.5s linear;
  padding: 10px 15px;
  border-radius: 10px;
}
/* line 147, ../sass/style.scss */
.header-wrapper .header-tools .registration-btn:hover .registration-btn-span {
  background: #57c5a0;
  color: #242424;
}
/* line 153, ../sass/style.scss */
.header-wrapper .header-tools .lower-case {
  text-transform: lowercase;
}

/* line 159, ../sass/style.scss */
.header-wrapper:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

/* line 166, ../sass/style.scss */
nav:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

/* line 173, ../sass/style.scss */
.navigation-content-wrapper {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}
/* line 178, ../sass/style.scss */
.navigation-content-wrapper .mobile-menu,
.navigation-content-wrapper .mobile-search {
  display: none;
}
/* line 183, ../sass/style.scss */
.navigation-content-wrapper .menubar-menu {
  float: left;
  padding-left: 0px;
  margin-bottom: 0px;
}
/* line 189, ../sass/style.scss */
.navigation-content-wrapper .menubar-list-item {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding: 24px 20px 24px 20px;
  border-left: 1px solid #eeeeee;
  margin-right: -5px;
}
/* line 197, ../sass/style.scss */
.navigation-content-wrapper .menubar-list-item a {
  transition: color 0.15s linear;
  font: 16px 'Allerta', sans-serif;
  color: #242424;
}
/* line 204, ../sass/style.scss */
.navigation-content-wrapper .menubar-list-item:last-child {
  border-right: 1px solid #eeeeee;
  margin-right: -1px;
}
/* line 210, ../sass/style.scss */
.navigation-content-wrapper .menubar-list-item:hover a {
  color: #57c5a0;
}
/* line 215, ../sass/style.scss */
.navigation-content-wrapper .menubar-icons {
  float: right;
  padding-left: 0px;
  margin-bottom: 0px;
}
/* line 221, ../sass/style.scss */
.navigation-content-wrapper .menubar-icons .star-icon:before {
  color: #6e6e6e;
  content: '\e807';
  margin-right: 10px;
}
/* line 229, ../sass/style.scss */
.navigation-content-wrapper .menubar-icons .cart-icon:before {
  color: #6e6e6e;
  content: '\e809';
  margin-right: 10px;
}
/* line 236, ../sass/style.scss */
.navigation-content-wrapper .menubar-icons .menubar-list-item {
  padding-right: 25px;
  padding-left: 25px;
}
/* line 241, ../sass/style.scss */
.navigation-content-wrapper .menubar-icons .menubar-counter {
  transition: background 0.15s linear;
  border-radius: 4px;
  padding: 1px 4px;
  background-color: #adadad;
  font: 14px 'Allerta', sans-serif;
  color: #ffffff;
  margin-left: -3px;
}
/* line 251, ../sass/style.scss */
.navigation-content-wrapper .menubar-icons .menubar-counter:hover {
  background: #57c5a0;
}

/* line 257, ../sass/style.scss */
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

/* line 261, ../sass/style.scss */
.slide {
  position: relative;
  outline: none;
}

/* line 266, ../sass/style.scss */
.slide-image {
  height: 100%;
  width: 100%;
}

/* line 271, ../sass/style.scss */
.slide-information {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
/* line 274, ../sass/style.scss */
.slide-information .slide-price {
  background: #57c5a0;
  padding: 25px 10px;
  width: 70px;
  color: #ffffff;
  font-size: 0.8125em;
}
/* line 282, ../sass/style.scss */
.slide-information .slide-header {
  color: #242424;
  font-size: 2.5em;
  margin: 15px 0;
}
/* line 288, ../sass/style.scss */
.slide-information .slide-description {
  color: #242424;
  font-size: 1.25em;
  line-height: 1.2;
}
/* line 294, ../sass/style.scss */
.slide-information .slide-list-icons {
  margin-top: 10px;
}
/* line 298, ../sass/style.scss */
.slide-information .slide-list-icon {
  display: inline-block;
  padding: 10px;
  background: #f9f9f8;
  height: 40px;
  width: 40px;
  position: relative;
  cursor: pointer;
  opacity: .6;
}
/* line 308, ../sass/style.scss */
.slide-information .slide-list-icon:before {
  transition: color 0.15s linear;
}
/* line 313, ../sass/style.scss */
.slide-information .slide-list-icon:hover:before {
  color: #57c5a0;
}
/* line 318, ../sass/style.scss */
.slide-information .slide-list-icon.slide-list-icon-1:before {
  content: '\e806';
}
/* line 322, ../sass/style.scss */
.slide-information .slide-list-icon.slide-list-icon-2:before {
  content: '\e807';
}
/* line 326, ../sass/style.scss */
.slide-information .slide-list-icon.slide-list-icon-3:before {
  content: '\e80b';
}
/* line 330, ../sass/style.scss */
.slide-information .slide-list-icon.slide-list-icon-4:before {
  content: '\e809';
}

/* line 336, ../sass/style.scss */
.slick-dots {
  position: initial;
  background: #2e2e2e;
  padding: 6px 0 25px;
}
/* line 341, ../sass/style.scss */
.slick-dots li {
  background: #000000;
  height: 10px;
  max-width: 190px;
  width: 100%;
  margin: 0;
}
/* line 348, ../sass/style.scss */
.slick-dots li button {
  margin: 0 auto;
  height: inherit;
}
/* line 354, ../sass/style.scss */
.slick-dots li:after {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  content: "";
  width: 2px;
  height: 6px;
  background: #2e2e2e;
  right: 0;
}
/* line 363, ../sass/style.scss */
.slick-dots li:last-child:after {
  content: none;
}
/* line 367, ../sass/style.scss */
.slick-dots .dot-header {
  color: #979797;
  padding-top: 10px;
  font: 18px 'Allerta', sans-serif;
}
/* line 374, ../sass/style.scss */
.slick-dots .dot-description {
  color: #6e6e6e;
  font: 12px 'Allerta', sans-serif;
  padding-top: 2px;
}
/* line 382, ../sass/style.scss */
.slick-dots .slick-active button:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
  background: #57c5a0;
  transition: background 0.5s linear;
  height: 6px;
  width: 90%;
}
/* line 392, ../sass/style.scss */
.slick-dots .slick-active .dot-header {
  color: #ffffff;
}
/* line 396, ../sass/style.scss */
.slick-dots .slick-active .dot-description {
  color: #979797;
}

/* line 402, ../sass/style.scss */
.grid-x {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 25px 0;
}

/* line 410, ../sass/style.scss */
.rubric-section {
  background: #242424;
}
/* line 413, ../sass/style.scss */
.rubric-section .rubric {
  position: relative;
}
/* line 416, ../sass/style.scss */
.rubric-section .rubric .rubric-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  background: #242424;
  opacity: 0.8;
  color: #ffffff;
  font-size: 17px;
  cursor: pointer;
  width: 200px;
  line-height: 50px;
  transition: font-size 0.1s linear;
}
/* line 429, ../sass/style.scss */
.rubric-section .rubric .rubric-btn:hover {
  font-size: 18px;
}

/* line 435, ../sass/style.scss */
.login-pop-up {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 441, ../sass/style.scss */
.login-pop-up:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: .5;
}
/* line 450, ../sass/style.scss */
.login-pop-up .login-form {
  z-index: 1;
  text-align: center;
  width: 30%;
  padding: 25px 20px;
  background: #242424;
  border-radius: 25px;
  box-shadow: 2px 2px 1px #888888;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 460, ../sass/style.scss */
.login-pop-up .login-form:active {
  cursor: grabbing;
}
/* line 464, ../sass/style.scss */
.login-pop-up .login-form .close-form {
  cursor: pointer;
}
/* line 466, ../sass/style.scss */
.login-pop-up .login-form .close-form:after {
  position: absolute;
  content: '\e80f';
  top: -40px;
  right: -40px;
  font-size: 35px;
  color: #f27e4b;
}
/* line 476, ../sass/style.scss */
.login-pop-up .login-form .login-or-register {
  text-transform: uppercase;
  font-size: 18px;
  color: #ffffff;
}
/* line 482, ../sass/style.scss */
.login-pop-up .login-form .login-container {
  color: #ffffff;
  padding: 25px 0;
}
/* line 486, ../sass/style.scss */
.login-pop-up .login-form .login-container label {
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 15px;
}
/* line 493, ../sass/style.scss */
.login-pop-up .login-form .login-container input {
  border-radius: 10px;
}
/* line 497, ../sass/style.scss */
.login-pop-up .login-form .login-container .submit {
  padding: 10px 40px;
  color: #ffffff;
  cursor: pointer;
  background: #57c5a0;
  border-radius: 15px;
}

/* line 508, ../sass/style.scss */
main {
  background: #ebe7df;
}

/* line 513, ../sass/style.scss */
.main-info-wrapper .main-info-header {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  text-align: left;
}
/* line 519, ../sass/style.scss */
.main-info-wrapper .show-all {
  text-align: right;
}
/* line 523, ../sass/style.scss */
.main-info-wrapper .show-all-span {
  cursor: pointer;
  border: 1px solid #bcb5a7;
  font-family: 'Lato', sans-serif;
  color: #bcb5a7;
  padding: 5px 25px;
  text-transform: capitalize;
  opacity: .8;
}
/* line 532, ../sass/style.scss */
.main-info-wrapper .show-all-span:hover {
  opacity: 1;
  border-color: #898170;
  color: #898170;
}

/* line 540, ../sass/style.scss */
.product {
  position: relative;
}
/* line 542, ../sass/style.scss */
.product .product-name {
  max-width: 300px;
  width: 100%;
  margin: -3px auto 0;
  background: #ffffff;
  padding: 15px 0;
  border-top: 1px solid #cccccc;
}
/* line 551, ../sass/style.scss */
.product .product-price {
  position: absolute;
  left: 25px;
  bottom: -1px;
  padding: 25px 10px;
  background: #57c5a0;
  color: #ffffff;
  font-size: 12px;
}
/* line 561, ../sass/style.scss */
.product .product-on-sale {
  position: absolute;
  right: 25px;
  top: 0;
  padding: 25px 10px;
  background: #242424;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
}
/* line 573, ../sass/style.scss */
.product .product-out-of-stock {
  position: absolute;
  right: 25px;
  top: 0;
  padding: 20px 10px;
  background: #f27e4b;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.3;
}
/* line 586, ../sass/style.scss */
.product .product-icons {
  display: none;
  padding-left: 60px;
  background-color: white;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  margin-top: -3px;
  border-top: 1px solid #cccccc;
}
/* line 597, ../sass/style.scss */
.product .product-icons .product-list-icon {
  display: inline-block;
  padding: 15px 14px 14px;
  background: #ffffff;
  position: relative;
  cursor: pointer;
  opacity: 1;
}
/* line 605, ../sass/style.scss */
.product .product-icons .product-list-icon:before {
  transition: color 0.15s linear;
  color: #6e6e6e;
}
/* line 611, ../sass/style.scss */
.product .product-icons .product-list-icon:hover:before {
  color: #57c5a0;
}
/* line 616, ../sass/style.scss */
.product .product-icons .product-list-icon.product-list-icon-1:before {
  content: '\e806';
}
/* line 620, ../sass/style.scss */
.product .product-icons .product-list-icon.product-list-icon-2:before {
  content: '\e807';
}
/* line 624, ../sass/style.scss */
.product .product-icons .product-list-icon.product-list-icon-3:before {
  content: '\e80b';
}
/* line 628, ../sass/style.scss */
.product .product-icons .product-list-icon.product-list-icon-4:before {
  content: '\e809';
}
/* line 635, ../sass/style.scss */
.product .product-title:hover .product-name {
  display: none;
}
/* line 638, ../sass/style.scss */
.product .product-title:hover .product-icons {
  display: block;
}

/* line 644, ../sass/style.scss */
.best-sellers {
  position: relative;
  padding-bottom: 50px;
}

/* line 649, ../sass/style.scss */
.best-sellers:after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  background: #bcb5a7;
  right: 0;
}

/* line 660, ../sass/style.scss */
.info-wrapper .info-block-content {
  margin-right: 20px;
  text-align: left;
  padding: 33px 15px;
  background: #dfdbd4;
  height: 100%;
}
/* line 667, ../sass/style.scss */
.info-wrapper .info-block-content .info-block-header {
  text-transform: uppercase;
  padding-bottom: 18px;
  font-weight: bold;
  font-size: 16px;
}
/* line 674, ../sass/style.scss */
.info-wrapper .info-block-content .info-block-description {
  font-size: 14px;
}
/* line 677, ../sass/style.scss */
.info-wrapper .info-block-content .info-block-description .autor {
  font-style: italic;
}
/* line 683, ../sass/style.scss */
.info-wrapper .blog-news {
  position: relative;
  margin: 0;
}
/* line 687, ../sass/style.scss */
.info-wrapper .blog-news .info-block-slideshow {
  display: none;
  position: absolute;
}
/* line 692, ../sass/style.scss */
.info-wrapper .blog-news .info-block-slideshow:first-child {
  display: block;
}
/* line 696, ../sass/style.scss */
.info-wrapper .blog-news .blog-news-article {
  position: relative;
  padding: 10px 65px;
}
/* line 701, ../sass/style.scss */
.info-wrapper .blog-news .blog-news-article-header {
  color: #242424;
  font-weight: bold;
  padding-bottom: 5px;
}
/* line 708, ../sass/style.scss */
.info-wrapper .blog-news .blog-news-article:before {
  width: 50px;
  padding: 10px 5px;
  text-align: center;
  background: #57c5a0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  left: 25px;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.2;
}
/* line 722, ../sass/style.scss */
.info-wrapper .blog-news .blog-news-article-1:before {
  content: 'APR 01';
}
/* line 728, ../sass/style.scss */
.info-wrapper .blog-news .blog-news-article-2:before {
  content: 'APR 02';
}
/* line 734, ../sass/style.scss */
.info-wrapper .blog-news .blog-news-article-3:before {
  content: 'APR 03';
}
/* line 740, ../sass/style.scss */
.info-wrapper .blog-news .blog-news-article-4:before {
  content: 'APR 04';
}

/* line 747, ../sass/style.scss */
.footer-widgets-wrapper {
  background: #242424;
}

/* line 751, ../sass/style.scss */
.footer-socials-wrapper {
  background: #242424;
}

/* line 755, ../sass/style.scss */
.footer-copyright-wrapper {
  background: #2e2e2e;
}

/* line 759, ../sass/style.scss */
.footer-widgets-content {
  text-align: left;
  padding: 50px 25px;
}
/* line 764, ../sass/style.scss */
.footer-widgets-content .widgets-content .widgets-content-header {
  text-transform: uppercase;
  color: #7d7d7d;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 25px;
  opacity: .6;
}
/* line 773, ../sass/style.scss */
.footer-widgets-content .widgets-content .widgets-content-description {
  font-size: 14px;
  text-align: justify;
  color: #a4a4a4;
}
/* line 780, ../sass/style.scss */
.footer-widgets-content .widgets-content-space {
  padding-right: 50px;
}

/* line 785, ../sass/style.scss */
.footer-widgets-wrapper:after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  background: #1c1c1c;
}

/* line 794, ../sass/style.scss */
.footer-socials-wrapper .social-icon {
  display: inline-block;
  margin: 0 6px;
  padding: 10px 10px;
  background: #2e2e2e;
  cursor: pointer;
  position: relative;
}
/* line 802, ../sass/style.scss */
.footer-socials-wrapper .social-icon a {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
/* line 811, ../sass/style.scss */
.footer-socials-wrapper .social-icons {
  text-align: right;
}
/* line 816, ../sass/style.scss */
.footer-socials-wrapper .social-icon:before {
  font-size: 20px;
  color: #7d7d7d;
}
/* line 822, ../sass/style.scss */
.footer-socials-wrapper .social-icon:hover:before {
  color: #ffffff;
}
/* line 827, ../sass/style.scss */
.footer-socials-wrapper .social-icon-facebook:before {
  content: '\e802';
}
/* line 832, ../sass/style.scss */
.footer-socials-wrapper .social-icon-facebook:hover {
  background: #4267b2;
}
/* line 837, ../sass/style.scss */
.footer-socials-wrapper .social-icon-twitter:before {
  content: '\e804';
}
/* line 842, ../sass/style.scss */
.footer-socials-wrapper .social-icon-twitter:hover {
  background: #1da1f2;
}
/* line 847, ../sass/style.scss */
.footer-socials-wrapper .social-icon-google-plus:before {
  content: '\e805';
}
/* line 852, ../sass/style.scss */
.footer-socials-wrapper .social-icon-google-plus:hover {
  background: #db4437;
}
/* line 857, ../sass/style.scss */
.footer-socials-wrapper .social-icon-linkedin:before {
  content: '\e803';
}
/* line 862, ../sass/style.scss */
.footer-socials-wrapper .social-icon-linkedin:hover {
  background: #0077b5;
}
/* line 867, ../sass/style.scss */
.footer-socials-wrapper .social-icon-flickr:before {
  content: '\e800';
}
/* line 872, ../sass/style.scss */
.footer-socials-wrapper .social-icon-flickr:hover {
  background: #ff007e;
}
/* line 876, ../sass/style.scss */
.footer-socials-wrapper .email-form {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  position: relative;
}
/* line 881, ../sass/style.scss */
.footer-socials-wrapper .email-input {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  max-width: 214px;
  width: 100%;
  background-color: #2e2e2e;
  outline: none;
  border: none;
  font-size: 13px;
  padding: 11px 10px 10px 15px;
  height: initial;
  font-style: italic;
  color: #7d7d7d;
  margin-bottom: 0px;
}
/* line 897, ../sass/style.scss */
.footer-socials-wrapper .email-input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: italic;
  color: #7d7d7d;
}
/* line 904, ../sass/style.scss */
.footer-socials-wrapper .submit-btn {
  position: absolute;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background: #7d7d7d;
  font-size: 20px;
  color: #2e2e2e;
  font-weight: bold;
  right: 230px;
  padding: 10px 12px;
  font-size: 20px;
  cursor: pointer;
}
/* line 917, ../sass/style.scss */
.footer-socials-wrapper .footer-socials-content {
  padding-left: 25px;
  padding-right: 25px;
}
/* line 922, ../sass/style.scss */
.footer-socials-wrapper .email-input-form {
  position: relative;
}

/* line 927, ../sass/style.scss */
.footer-copyright-wrapper {
  padding: 33px 0;
}
/* line 930, ../sass/style.scss */
.footer-copyright-wrapper .footer-copyright-content {
  padding: 0;
}
/* line 934, ../sass/style.scss */
.footer-copyright-wrapper .footer-navigation {
  position: relative;
}
/* line 938, ../sass/style.scss */
.footer-copyright-wrapper .footer-copyright-info {
  color: #979797;
  font-size: 12px;
  text-align: left;
  line-height: 1.5;
}
/* line 945, ../sass/style.scss */
.footer-copyright-wrapper .footer-navigation-items {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
}
/* line 950, ../sass/style.scss */
.footer-copyright-wrapper .footer-navigation-item {
  display: inline-block;
}
/* line 952, ../sass/style.scss */
.footer-copyright-wrapper .footer-navigation-item a {
  color: #979797;
  font-size: 12px;
  transition: 0.5s;
}
/* line 958, ../sass/style.scss */
.footer-copyright-wrapper .footer-navigation-item a:after {
  content: ' /';
}
/* line 964, ../sass/style.scss */
.footer-copyright-wrapper .footer-navigation-item:hover a {
  color: #57c5a0;
}
/* line 968, ../sass/style.scss */
.footer-copyright-wrapper .footer-navigation-item:hover a:after {
  color: #979797;
}
/* line 974, ../sass/style.scss */
.footer-copyright-wrapper .footer-navigation-item:last-child a:after {
  content: '';
}

/* line 980, ../sass/style.scss */
.flickr_badge_image {
  display: inline-block;
  margin: 5px;
}
/* line 984, ../sass/style.scss */
.flickr_badge_image img {
  width: 87px;
  height: 75px;
}

/* line 990, ../sass/style.scss */
#twitter-widget-0 {
  height: inherit !important;
}

@media (max-width: 960px) {
  /* line 995, ../sass/style.scss */
  .header-wrapper {
    max-width: 720px;
  }
  /* line 999, ../sass/style.scss */
  .header-wrapper .search-menu-wrapper .search-input {
    border-left: none;
  }
  /* line 1003, ../sass/style.scss */
  .header-wrapper .search-menu-wrapper .search-input::placeholder {
    opacity: 0;
  }
  /* line 1010, ../sass/style.scss */
  .header-wrapper .header-tools .search-menu-wrapper:before {
    display: none;
  }

  /* line 1017, ../sass/style.scss */
  .navigation-content-wrapper {
    max-width: 720px;
  }
  /* line 1021, ../sass/style.scss */
  .navigation-content-wrapper .menubar-icons .star-icon {
    padding-left: 15px;
    padding-right: 20px;
    border-left: none;
  }
  /* line 1027, ../sass/style.scss */
  .navigation-content-wrapper .menubar-icons .cart-icon {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* line 1035, ../sass/style.scss */
  .login-pop-up .login-form {
    width: 45%;
  }

  /* line 1041, ../sass/style.scss */
  .slide-information .slide-price {
    font-size: 0.75em;
    padding: 1.5625em 0.3125em;
  }
  /* line 1046, ../sass/style.scss */
  .slide-information .slide-header {
    margin: 5px 0;
    font-size: 1.375em;
  }
  /* line 1051, ../sass/style.scss */
  .slide-information .slide-description {
    font-size: 0.75em;
  }

  /* line 1056, ../sass/style.scss */
  .grid-x {
    max-width: 720px;
  }

  /* line 1061, ../sass/style.scss */
  .product .product-name {
    max-width: 221px;
    padding-left: 90px;
    text-align: left;
  }
  /* line 1067, ../sass/style.scss */
  .product .product-icons {
    max-width: 221px;
  }
  /* line 1070, ../sass/style.scss */
  .product .product-icons .product-list-icon {
    padding: 14px 5px 15px;
  }

  /* line 1076, ../sass/style.scss */
  .footer-socials-wrapper .submit-btn {
    right: 87px;
  }
}
@media (max-width: 768px) {
  /* line 1083, ../sass/style.scss */
  .info-block-tablet {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 1089, ../sass/style.scss */
  .header-wrapper {
    max-width: 320px;
  }
  /* line 1093, ../sass/style.scss */
  .header-wrapper .header-tools .search-menu-wrapper {
    display: none;
  }
  /* line 1097, ../sass/style.scss */
  .header-wrapper .header-tools .registration-btn-span {
    padding: 5px;
  }

  /* line 1103, ../sass/style.scss */
  .navigation-content-wrapper {
    max-width: 320px;
    position: relative;
  }
  /* line 1107, ../sass/style.scss */
  .navigation-content-wrapper .menubar-menu {
    position: absolute;
    display: none;
    z-index: 1;
    background: #ffffff;
    top: 70px;
    width: 40%;
  }
  /* line 1115, ../sass/style.scss */
  .navigation-content-wrapper .menubar-list-item {
    display: inline-block;
    position: relative;
    border: none;
  }
  /* line 1120, ../sass/style.scss */
  .navigation-content-wrapper .menubar-list-item:after {
    content: '';
    background: #666464;
    height: 1px;
    width: 70%;
    left: 20px;
    position: absolute;
    bottom: 0;
  }
  /* line 1130, ../sass/style.scss */
  .navigation-content-wrapper .menubar-list-item.star-icon:after {
    content: none;
  }
  /* line 1134, ../sass/style.scss */
  .navigation-content-wrapper .menubar-list-item.cart-icon:after {
    content: none;
  }
  /* line 1138, ../sass/style.scss */
  .navigation-content-wrapper .menubar-list-item.star-icon {
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
  }
  /* line 1144, ../sass/style.scss */
  .navigation-content-wrapper .mobile-menu {
    display: inline;
    left: 40px;
    height: 65px;
    position: absolute;
  }
  /* line 1150, ../sass/style.scss */
  .navigation-content-wrapper .mobile-menu:after {
    content: '\e810';
    font-size: 1.25em;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: #666464;
  }
  /* line 1157, ../sass/style.scss */
  .navigation-content-wrapper .mobile-menu:before {
    content: '';
    width: 1px;
    height: 65px;
    background: #eeeeee;
    position: absolute;
    left: -25px;
  }
  /* line 1167, ../sass/style.scss */
  .navigation-content-wrapper .mobile-search {
    display: inline;
    height: 65px;
    position: absolute;
    left: 110px;
  }
  /* line 1173, ../sass/style.scss */
  .navigation-content-wrapper .mobile-search:after {
    content: '\e808';
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 1em;
    color: #666464;
  }
  /* line 1180, ../sass/style.scss */
  .navigation-content-wrapper .mobile-search:before {
    content: '';
    width: 1px;
    height: 65px;
    background: #eeeeee;
    position: absolute;
    left: -25px;
  }

  /* line 1192, ../sass/style.scss */
  .slide-information .slide-price {
    padding: 1.875em 0.625em;
    width: fit-content;
  }
  /* line 1197, ../sass/style.scss */
  .slide-information .slide-header {
    font-size: 1.75em;
  }
  /* line 1201, ../sass/style.scss */
  .slide-information .slide-description {
    font-size: 0.9375em;
  }

  /* line 1206, ../sass/style.scss */
  .product {
    background: #ffffff;
    margin: 0 15px 15px;
  }
  /* line 1210, ../sass/style.scss */
  .product .product-name,
  .product .product-icons {
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    padding-left: 0;
  }

  /* line 1220, ../sass/style.scss */
  .info-wrapper,
  .email-input-form {
    display: none;
  }

  /* line 1226, ../sass/style.scss */
  .footer-socials-wrapper .social-icons {
    text-align: center;
  }

  /* line 1231, ../sass/style.scss */
  .slick-dots {
    display: none !important;
  }

  /* line 1235, ../sass/style.scss */
  #flickr_badge_wrapper {
    text-align: center;
  }

  /* line 1240, ../sass/style.scss */
  .footer-widgets-content .widgets-content-space {
    padding: 0;
    margin-bottom: 15px;
  }

  /* line 1246, ../sass/style.scss */
  .rubric {
    margin-bottom: 10px;
  }

  /* line 1251, ../sass/style.scss */
  .login-pop-up .login-form {
    width: 75%;
  }
}
