//colors
$black:                             #000000;
$white:                             #ffffff;

//filter colors for entire site
$icon-bg:                           #f9f9f8;
$show-btn:                          #bcb5a7;
$logo-color:                        #57c5a0;
$product-bg:                        #ebe7df;
$info-color:                        #dfdbd4;
$border-color:                      #383838;
$flickr-color:                      #ff007e;
$twitter-color:                     #1da1f2;
$sorting-color:						#bcb5a7;
$product-border:                    #cccccc;
$facebook-color:                    #4267b2;
$linkedin-color:                    #0077b5;
$slick-footer-bg:                   #2e2e2e;
$header-font-color:                 #b1aeae;
$google-plus-color:                 #db4437;
$text-widgets-color:                #7d7d7d;
$sorting-color-hover:				#898170;
$dropdown-menu-color:               #4c4c4c;
$footer-dividing-line:              #1c1c1c;
$menubar-border-color:              #eeeeee;
$main-dark-grey-color:              #242424;
$menubar-counter-color:             #adadad;
$dropdown-border-color:             #666464;
$slick-dots-header-color:           #979797;
$description-widgets-color:         #a4a4a4;
$product-out-of-stock-color: 		#f27e4b;
$slick-dots-description-color:      #6e6e6e;