@import "style_guide";
@import "mixins";
@import "settings";

.products-banner {
	position: relative;

	.banner-image {
		width: 100%;
	}

	.products-banner-info-content {
		@include absolute-vertical-center;

		.price {
		    background: $logo-color;
		    float: left;
			padding: 25px 10px;
			width: max-content;
			color: $white;
			font-size: rem-calc(13);
		}

		.header {
			color: $main-dark-grey-color;
    		font-size: rem-calc(30);
    		margin: 0 0 15px;
    		padding: 0 0 0 85px;
		}

		.description {
			float: left;
    		color: $main-dark-grey-color;
    		font-size: rem-calc(15);
    		line-height: 1.2;
		}
	}
}

.shop-by-products-filters-wrapper {
	background: $slick-footer-bg;

	.shop-by {
	    padding: 20px 0;
	    font-size: rem-calc(18);
	    color: $white;
	}

	.filter {
		position: relative;
	}

	.filter-btn {
	    position: relative;
	    padding: 20px 0;
	    background: $main-dark-grey-color;
	    width: 95%;
	    margin: 0 auto;
	    cursor: pointer;
	    font-size: rem-calc(18);
	    color: $white;

	    &:after {
		    content: '\e80c';
		    font-size: rem-calc(9);
		    color: $main-dark-grey-color;
		    background: white;
		    border-radius: 100%;
		    padding: 3px;
		    @include absolute-vertical-center;
		    right: 12%;
	    }
	}

	.filter-list {
	    background: $main-dark-grey-color;
	    margin-top: 10px;
	    width: 95%;
	    @include absolute-horizontal-center;
	    padding: 13px 0; 
	    z-index: 1;
	    text-align: left;

	    &:before {
	        position: absolute;
	        content: '';
	        left: 0;
		    right: 0;
		    top: -5px;
		    width: 0px;
		    height: 0px;
		    margin: 0 auto;
		    border-left: 5px solid transparent;
		    border-right: 5px solid transparent;
		    border-bottom: 5px solid $main-dark-grey-color;
	    }

	    li {
		    color: $white;
		    cursor: pointer;
		    margin-bottom: 2px; 
		    font-size: rem-calc(16);
	        padding: 10px 0 10px 25px;
		    transition: background 0.5s linear;

		    &:hover {
		    	background: $logo-color;
		    }
	    }
	}

	.filter-off {
		display: none;
	}
}

.all-products-wrapper {
	.all-products-header-left {
		text-align: left;
		position: relative;
	}

	.all-products-header-right {
		text-align: right;
	}

	.all-products-title {
	    font-size: rem-calc(20);
	    font-family: 'Lato', sans-serif;
	    text-align: left;
	}

	.breadcrumbs {
		font-size: rem-calc(12);
	    font-family: 'Lato', sans-serif;
	    color: $sorting-color;
        position: absolute;
	    bottom: 0;
	    margin: 0;
	    left: 130px;
	}

	.filter-text {
	    font-weight: bold;
	    padding-right: 10px;
	    color: $sorting-color;
	    font-size: rem-calc(14);
	}
	.view-as-filter {
		cursor: pointer;
		&:after {
		    font-size: rem-calc(16);
		    color: $sorting-color;
		    border: 1px solid;
		    padding: 5px;
		}

		&.block-view:after {
			content: '\e80e';
		}

		&.list-view:after {
			content: '\e801';
		}

		&.alphabetically-view:after {
			border-radius: 100%;
			content: '\e80c';
		}

		&:hover {
			&:after {
				border-color: $sorting-color-hover;
			}
		}

		&.alphabetically-view {
			position: relative;
			padding: 5px 50px 5px 20px;
			border: 1px solid $sorting-color;
		    text-align: left;

			&:after {
				color: $product-bg;
				right: 10%;
				background: $sorting-color;
				border-radius: 100%;
				font-size: rem-calc(7);
				@include absolute-vertical-center;
			}
		}
	}

	.view-as-active {
		
		&:after {
			border-color: $sorting-color-hover;
			color: $sorting-color-hover;
		}
	}

	.product-product-page {
		margin-bottom: 15px;
	}

	.product-list-view {
		background: white;

		.product-name,
		.product-icons {
			max-width: inherit;
		}
	}
}