@import "compass/reset";
@import "style_guide";
@import "settings";
@import "mixins";

header {
	background: $main-dark-grey-color;
}

.active {
    a {
        color:$logo-color !important;
    }
}

.header-wrapper {
	position: relative;
    max-width: 940px;
    width: 100%;
    margin: 0 auto;

    .header-logo-wrapper {
	    float: left;
    	padding: 15px;
        cursor: pointer;
    	
    	.header-logo {
            a {
                color: $logo-color;
                font-size: rem-calc(26);
                font-family: 'Asap Condensed', sans-serif;
                text-transform: uppercase;
            }
    	}
    }

    .header-tools-wrapper {
        float: right;
    }

	.header-tools {
        height: 100%;
	    position: absolute;
	    right: 0;

        .search-menu-wrapper {
            float: left;
            height: 100%;
            position: relative;

            &:before {
                content: '';
                width: 1px;
                background: $border-color;
                height: 100%;
                position: absolute;
                left: 2px;
            }

            &:after {
                content: '\e808';
                color: $text-widgets-color;
                right: 20px;
                @include absolute-vertical-center;
            }
        }

	    .search-input {
            padding: 0;
            border: none;
            height: 100%;
            outline: none;
            margin-bottom: 0;
            padding-left: 15px;
            padding-right: 15px;
            font-size: rem-calc(12);
            color: $header-font-color;
            background-color: transparent;
            font-family: 'Allerta', sans-serif;
            border-left: 1px solid $border-color;
	    }  

	    .search-input::placeholder {
	    	font-size: rem-calc(14);
            color: $header-font-color;
            text-transform: uppercase;
			font-family: 'Allerta', sans-serif;
	    }

        .search-dropdown {
            background-color: $dropdown-menu-color;
            z-index: 1;
            position: relative;

            .search-dropdown-item {
                cursor: pointer;
                padding: 15px 15px;
                font-family: 'Allerta', sans-serif;
                font-size: rem-calc(12);
                color: $header-font-color;
                text-transform: uppercase; 
                transition: background 0.5s linear;
                border-bottom: 1px solid $dropdown-border-color; 

                &:hover {
                    background: $sorting-color-hover;
                }
            }
        }

        .dropdown-hidden {
            display: none;
        }

        .dropdown-visible {
            display: block;
        }

	    .registration-btn {
    		height: 100%;
    		padding: 0;
            outline: none;
    		border-left: 1px solid;
    		border-right: 1px solid;
    		border-top: none;
    		border-bottom: none;
    		border-color: $border-color;
    		font-size: rem-calc(12);
			font-family: 'Allerta', sans-serif;
    		color: $header-font-color;
    		background-color: transparent;
    		text-transform: uppercase;
    		padding-right: 5px;
    		padding-left: 5px;
            cursor: pointer;
            float: right;
	    }

        .registration-btn-span {
            transition: background 0.5s linear;
            padding: 10px 15px; 
            border-radius: 10px;
        }

        .registration-btn:hover {

            .registration-btn-span {
                background: $logo-color;
                color: $main-dark-grey-color;
            }
        }

	    .lower-case {
	    	text-transform: lowercase;
	    }
    }
}

.header-wrapper:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

nav:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.navigation-content-wrapper {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;

    .mobile-menu,
    .mobile-search {
        display: none;
    }

    .menubar-menu {
        float: left;
        padding-left: 0px;
        margin-bottom: 0px;
    }

    .menubar-list-item {
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        padding: 24px 20px 24px 20px;
        border-left: 1px solid $menubar-border-color;
        margin-right: -5px;

        a {
            transition: color 0.15s linear;
            font: 16px 'Allerta', sans-serif;
            color: $main-dark-grey-color;
        }
    }

    .menubar-list-item:last-child {
        border-right: 1px solid $menubar-border-color;
        margin-right: -1px;
    }

    .menubar-list-item:hover {
        a {
            color: $logo-color;
        }
    }

    .menubar-icons {
        float: right;
        padding-left: 0px;
        margin-bottom: 0px;

        .star-icon {
            &:before {
                color: $slick-dots-description-color;
                content: '\e807';
                margin-right: 10px;
            }
        }

        .cart-icon{
            &:before {
                color: $slick-dots-description-color;
                content: '\e809';
                margin-right: 10px;
            }
        }

        .menubar-list-item {
            padding-right: 25px;
            padding-left: 25px;
        }
    
        .menubar-counter {
            transition: background 0.15s linear;
            border-radius: 4px;
            padding: 1px 4px;
            background-color: $menubar-counter-color;
            font: 14px 'Allerta', sans-serif;
            color: $white;
            margin-left: -3px;
        }

        .menubar-counter:hover {
            background: $logo-color;
        }
    }
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slide {
    position: relative;
    outline: none;
}

.slide-image {
    height: 100%;
    width: 100%;
}

.slide-information {
    @include absolute-vertical-center;

    .slide-price {
        background: $logo-color;
        padding: 25px 10px;
        width: 70px;
        color: $white;
        font-size: rem-calc(13);
    }

    .slide-header {
        color: $main-dark-grey-color;
        font-size: rem-calc(40);
        margin: 15px 0;
    }

    .slide-description {
        color: $main-dark-grey-color;
        font-size: rem-calc(20);
        line-height: 1.2;
    }

    .slide-list-icons {
        margin-top: 10px;
    }

    .slide-list-icon {
        display: inline-block;
        padding: 10px;
        background: $icon-bg;
        height: 40px;
        width: 40px;
        position: relative;
        cursor: pointer;
        opacity: .6;

        &:before {
            transition: color 0.15s linear;;
        }

        &:hover {
            &:before {
                color: $logo-color;
            }
        }

        &.slide-list-icon-1:before {
            content: '\e806';
        }

        &.slide-list-icon-2:before {
            content: '\e807';
        }

        &.slide-list-icon-3:before {
            content: '\e80b';
        }

        &.slide-list-icon-4:before {
            content: '\e809';
        }
    }
}
    
.slick-dots {
    position: initial;
    background: $slick-footer-bg;
    padding: 6px 0 25px;

    li {
        background: $black;
        height: 10px;
        max-width: 190px;
        width: 100%;
        margin: 0; 

        button {
            margin: 0 auto;
            height: inherit;
        }
    }

    li:after {
        @include absolute-vertical-center;
        content: "";
        width: 2px;
        height: 6px;
        background: $slick-footer-bg;
        right: 0;
    }

    li:last-child:after {
        content: none;  
    }

    .dot-header {
        color: $slick-dots-header-color;
        padding-top: 10px;
        font: 18px 'Allerta', sans-serif;

    }

    .dot-description  {
        color: $slick-dots-description-color;
        font: 12px 'Allerta', sans-serif;
        padding-top: 2px;
    }

    .slick-active {
        button {
            &:before {
                @include absolute-center;
                content: '';
                background: $logo-color;
                transition: background 0.5s linear;
                height: 6px;
                width: 90%;
            }
        }

        .dot-header {
            color: $white;
        }

        .dot-description {
            color: $slick-dots-header-color;
        }
    }
}

.grid-x {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 25px 0;
}

.rubric-section {
    background: $main-dark-grey-color;

    .rubric {
        position: relative;

        .rubric-btn {
            @include absolute-center;
            text-transform: uppercase;
            background: $main-dark-grey-color;
            opacity: 0.8;
            color: $white;
            font-size: 17px;
            cursor: pointer;
            width: 200px;
            line-height:50px;
            transition: font-size 0.1s linear;
        }

        .rubric-btn:hover {
            font-size: 18px;
        }
    }
}

.login-pop-up {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;

    &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: $black;
        opacity: .5;
    }

    .login-form {
        z-index: 1;
        text-align: center; 
        width: 30%;
        padding: 25px 20px;
        background: $main-dark-grey-color;
        border-radius: 25px;
        box-shadow: 2px 2px 1px #888888;
        @include absolute-center;

        &:active { 
            cursor: grabbing;
        }

        .close-form {
            cursor: pointer;
            &:after {
                position: absolute;
                content: '\e80f';
                top: -40px;
                right: -40px;
                font-size: 35px;
                color: $product-out-of-stock-color;
            }
        }

        .login-or-register {
            text-transform: uppercase;
            font-size: 18px;
            color: $white;
        }

        .login-container {
            color: $white;
            padding: 25px 0;

            label {
                text-align: left; 
                color: $white;
                text-transform: uppercase;
                padding-bottom: 15px;
            }

            input {
                border-radius: 10px;
            }

            .submit {
                padding: 10px 40px;
                color: $white;
                cursor: pointer;
                background: $logo-color;
                border-radius: 15px;
            }
        }
    }
}

main {
    background: $product-bg;
}

.main-info-wrapper {
    .main-info-header {
        font-size: 20px;
        font-family: 'Lato', sans-serif;
        text-align: left;
    }

    .show-all {
        text-align: right;
    }

    .show-all-span {
        cursor: pointer;
        border: 1px solid $show-btn;
        font-family: 'Lato', sans-serif;
        color: $show-btn; 
        padding: 5px 25px;
        text-transform: capitalize;
        opacity: .8;

        &:hover {
            opacity: 1;
            border-color: $sorting-color-hover;
            color: $sorting-color-hover;
        }
    }
}

.product {
    position: relative;
    .product-name {
        max-width: 300px;
        width: 100%;
        margin: -3px auto 0;
        background: $white;
        padding: 15px 0;
        border-top: 1px solid $product-border;
    }

    .product-price {
        position: absolute;
        left: 25px;
        bottom: -1px;
        padding: 25px 10px;
        background: $logo-color;
        color: $white;
        font-size: 12px; 
    }

    .product-on-sale {
        position: absolute;
        right: 25px;
        top: 0;
        padding: 25px 10px;
        background: $main-dark-grey-color;
        font-weight: bold;
        text-transform: uppercase;
        color: $white;
        font-size: 12px; 
    }
    
    .product-out-of-stock {
        position: absolute;
        right: 25px;
        top: 0;
        padding: 20px 10px;
        background: $product-out-of-stock-color;
        font-weight: bold;
        text-transform: uppercase;
        color: $white;
        font-size: 12px;
        line-height: 1.3;
    }

    .product-icons {
        display: none;
        padding-left: 60px;
        background-color: white;
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        cursor: pointer;
        margin-top: -3px;
        border-top: 1px solid #cccccc;

        .product-list-icon {
            display: inline-block;
            padding: 15px 14px 14px;
            background: $white;
            position: relative;
            cursor: pointer;
            opacity: 1;

            &:before {
                transition: color 0.15s linear;
                color: $slick-dots-description-color;
            }

            &:hover {
                &:before {
                    color: $logo-color;
                }
            }

            &.product-list-icon-1:before {
                content: '\e806';
            }

            &.product-list-icon-2:before {
                content: '\e807';
            }

            &.product-list-icon-3:before {
                content: '\e80b';
            }

            &.product-list-icon-4:before {
                content: '\e809';
            }
        }
    }

    .product-title:hover {
        .product-name {
        display: none;
    }
        .product-icons {
        display: block;
        }
    }
}

.best-sellers {
    position: relative;
    padding-bottom: 50px;
}

.best-sellers:after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    background: $show-btn;
    right: 0;
}

.info-wrapper {
    .info-block-content {
        margin-right: 20px;
        text-align: left;
        padding: 33px 15px;
        background: $info-color;
        height: 100%;

        .info-block-header {
            text-transform: uppercase;
            padding-bottom: 18px;
            font-weight: bold;
            font-size: 16px;
        }

        .info-block-description {
            font-size: 14px;

            .autor {
                font-style: italic;
            }
        }
    }

    .blog-news {
        position: relative;
        margin: 0;

        .info-block-slideshow {
            display:none;
            position: absolute;
        }

        .info-block-slideshow:first-child {
            display:block;
        }

        .blog-news-article {
            position: relative;
            padding: 10px 65px;
        }

        .blog-news-article-header {
            color: $main-dark-grey-color;
            font-weight: bold;
            padding-bottom: 5px;
        }

        .blog-news-article {
            &:before {
                width: 50px;
                padding: 10px 5px;
                text-align: center;
                background: $logo-color;
                @include absolute-center;
                left: 25px;
                color: $white;
                font-weight: bold;
                line-height: 1.2;
            }
        }

        .blog-news-article-1 {
            &:before {
                content: 'APR 01';
            }
        }

        .blog-news-article-2 {
            &:before {
                content: 'APR 02';
            }
        }

        .blog-news-article-3 {
            &:before {
                content: 'APR 03';
            }
        }

        .blog-news-article-4 {
            &:before {
                content: 'APR 04';
            }
        }
    }
}

.footer-widgets-wrapper {
    background: $main-dark-grey-color;
}

.footer-socials-wrapper {
    background: $main-dark-grey-color;
}

.footer-copyright-wrapper {
    background: $slick-footer-bg;
}

.footer-widgets-content {
    text-align: left;
    padding: 50px 25px;

    .widgets-content {
        .widgets-content-header {
            text-transform: uppercase;
            color: $text-widgets-color;
            font-size: 16px;
            font-weight: bold;
            padding-bottom: 25px;
            opacity: .6;
        }

        .widgets-content-description {
            font-size: 14px;
            text-align: justify;
            color: $description-widgets-color;
        }
    }

    .widgets-content-space {
        padding-right: 50px;
    }
}

.footer-widgets-wrapper:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    background: $footer-dividing-line;
}

.footer-socials-wrapper {  
    .social-icon {
        display: inline-block;
        margin: 0 6px;
        padding: 10px 10px;
        background: $slick-footer-bg;
        cursor: pointer;
        position: relative;

        a {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    }

    .social-icons {
        text-align: right;
    }
    
    .social-icon {
        &:before {
            font-size: 20px;
            color: $text-widgets-color;
        }
    }

    .social-icon:hover:before {
        color: $white;
    }

    .social-icon-facebook {
        &:before {
            content: '\e802';
        }
    }

    .social-icon-facebook:hover {
        background: $facebook-color;
    }

    .social-icon-twitter {
        &:before {
            content: '\e804';
        }
    }

    .social-icon-twitter:hover {
        background: $twitter-color;
    }

    .social-icon-google-plus {
        &:before {
            content: '\e805';
        }
    }

    .social-icon-google-plus:hover {
        background: $google-plus-color;
    }

    .social-icon-linkedin {
        &:before {
            content: '\e803';
        }
    }

    .social-icon-linkedin:hover {
        background: $linkedin-color;
    }

    .social-icon-flickr {
        &:before {
            content: '\e800';
        }
    }

    .social-icon-flickr:hover {
        background: $flickr-color;
    }

    .email-form {
        @include absolute-vertical-center;
        position: relative;
    }

    .email-input {
        @include absolute-vertical-center;
        max-width: 214px;
        width: 100%;
        background-color: $slick-footer-bg;
        outline: none;
        border: none;
        font-size: 13px;
        padding: 11px 10px 10px 15px;
        height: initial;
        font-style: italic;
        color: $text-widgets-color;
        margin-bottom: 0px;
        
    }

    .email-input::placeholder {
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        font-style: italic;
        color: $text-widgets-color;
    }

    .submit-btn {  
        position: absolute; 
        @include absolute-vertical-center;
        background: $text-widgets-color;
        font-size: 20px;
        color: $slick-footer-bg;
        font-weight: bold;
        right: 230px;
        padding: 10px 12px;
        font-size: 20px;
        cursor: pointer;
    }

    .footer-socials-content {
        padding-left: 25px;
        padding-right: 25px;
    }

    .email-input-form {
        position: relative;
    }
}

.footer-copyright-wrapper {
    padding: 33px 0;

    .footer-copyright-content {
        padding: 0;
    }

    .footer-navigation {
        position: relative;
    }

    .footer-copyright-info {
        color: $slick-dots-header-color;
        font-size: 12px;
        text-align: left;
        line-height: 1.5;
    }

    .footer-navigation-items {
        @include absolute-vertical-center;
        right: 0;
    }
    
    .footer-navigation-item {
        display: inline-block;
        a {
            color: $slick-dots-header-color;
            font-size: 12px;
            transition: 0.5s;
        }

        a:after {
            content: ' /';
        }
    }

    .footer-navigation-item:hover {
        a {
            color: $logo-color;
        }

        a:after {
            color: $slick-dots-header-color;
        }
    }

    .footer-navigation-item:last-child {
        a:after {
            content: '';
        }
    }
}

.flickr_badge_image {
    display: inline-block;
    margin: 5px;

    img {
        width: 87px;
        height: 75px;
    }
}

#twitter-widget-0 {
    height: inherit !important; 
}

@media (max-width: 960px){
    .header-wrapper {
        max-width: 720px;

        .search-menu-wrapper {
            .search-input {
                border-left: none;
            }

            .search-input::placeholder {
                opacity: 0;
            }
        }

        .header-tools {
            .search-menu-wrapper {
                &:before {
                    display: none;
                }
            }
        }
    }

    .navigation-content-wrapper {
        max-width: 720px;

        .menubar-icons {
            .star-icon {
                padding-left: 15px;
                padding-right: 20px;
                border-left: none;
            }

            .cart-icon {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    .login-pop-up {
        .login-form {
            width: 45%;
        }
    }

    .slide-information {
        .slide-price {
            font-size: rem-calc(12);
            padding: rem-calc(25 5);
        }

        .slide-header {
            margin: 5px 0;
            font-size: rem-calc(22);
        }

        .slide-description {
            font-size: rem-calc(12);
        }
    }

    .grid-x {
        max-width: 720px
    }

    .product {
        .product-name {
            max-width: 221px;
            padding-left: 90px;
            text-align: left;
        }

        .product-icons {
            max-width: 221px;

            .product-list-icon {
                padding: 14px 5px 15px;
            }
        }
    }
    .footer-socials-wrapper {
        .submit-btn { 
            right: 87px;
        }
    }
}

@media (max-width: 768px){
    .info-block-tablet {
        display: none;
    }
}

@media (max-width: 767px){
    .header-wrapper {
        max-width: 320px;

        .header-tools {
            .search-menu-wrapper {
                display: none;
            }

            .registration-btn-span {
                padding: 5px;
            }
        }
    }

    .navigation-content-wrapper {
        max-width: 320px;
        position: relative;

        .menubar-menu {
            position: absolute;
            display: none;
            z-index: 1;
            background: $white;
            top: 70px;
            width: 40%;
        }
        .menubar-list-item {
            display: inline-block;
            position: relative;
            border: none;

            &:after {
                content: '';
                background: $dropdown-border-color;
                height: 1px;
                width: 70%;
                left: 20px;
                position: absolute;
                bottom: 0;
            }

            &.star-icon:after {
                content: none;
            }

            &.cart-icon:after {
                content: none;
            }

            &.star-icon {
                border-left: 1px solid $menubar-border-color;
                border-right: 1px solid $menubar-border-color;
            }
        }

        .mobile-menu {
            display: inline;
            left: 40px;
            height: 65px;
            position: absolute;

            &:after {
                content: '\e810';
                font-size: rem-calc(20);
                @include absolute-vertical-center;
                color: $dropdown-border-color;
            }

            &:before {
                content: '';
                width: 1px;
                height: 65px;
                background: $menubar-border-color;
                position: absolute;
                left: -25px;
            }
        }

        .mobile-search {
            display: inline;
            height: 65px;
            position: absolute;
            left: 110px;

            &:after {
                content: '\e808';
                @include absolute-vertical-center;
                font-size: rem-calc(16);
                color: $dropdown-border-color;
            }

            &:before {
                content: '';
                width: 1px;
                height: 65px;
                background: $menubar-border-color;
                position: absolute;
                left: -25px;
            }
        }
    }

    .slide-information {
        .slide-price {
            padding: rem-calc(30 10); 
            width: fit-content;
        }

        .slide-header {
            font-size: rem-calc(28);
        }

        .slide-description {
            font-size: rem-calc(15);
        }
    }

    .product {
        background: $white;
        margin: 0 15px 15px;

        .product-name,
        .product-icons {
            width: 100%;
            margin: 0 auto;
            max-width: 100%;
            text-align: center;
            padding-left: 0;
        }
    }

    .info-wrapper,
    .email-input-form {
        display: none;
    }

    .footer-socials-wrapper {
        .social-icons {
            text-align: center;
        }
    }

    .slick-dots {
        display: none !important;
    }

    #flickr_badge_wrapper {
        text-align: center; 
    }

    .footer-widgets-content {
        .widgets-content-space {
            padding: 0;
            margin-bottom: 15px; 
        }
    }

    .rubric {
        margin-bottom: 10px;
    }

    .login-pop-up {
        .login-form {
            width: 75%;
        }
    }
}
