
.icon-flickr-logo-of-two-dots:before { content: '\e800'; } /* '' */
.icon-list-(1):before { content: '\e801'; } /* '' */
.icon-facebook-letter-logo:before { content: '\e802'; } /* '' */
.icon-linkedin-logo:before { content: '\e803'; } /* '' */
.icon-twitter-logo-silhouette:before { content: '\e804'; } /* '' */
.icon-google-plus-logo:before { content: '\e805'; } /* '' */
.icon-view:before { content: '\e806'; } /* '' */
.icon-star:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-icon:before { content: '\e809'; } /* '' */
.icon-share-symbol-(1):before { content: '\e80a'; } /* '' */
.icon-share-symbol-(2):before { content: '\e80b'; } /* '' */
.icon-arrow-down-sign-to-navigate:before { content: '\e80c'; } /* '' */
.icon-refresh-arrow:before { content: '\e80d'; } /* '' */
.icon-menu-(1):before { content: '\e80e'; } /* '' */
.icon-cancel:before { content: '\e80f'; } /* '' */
.icon-menu-button:before { content: '\e810'; } /* '' */